<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675898728685-gb9tig1vnbd08mmu3huvr4gtjpdh2d00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675898728685-gb9tig1vnbd08mmu3huvr4gtjpdh2d00</string>
	<key>API_KEY</key>
	<string>AIzaSyCKE6Jq4DvfNQ3iOxaJyHPS2_Jkvf3Rkcs</string>
	<key>GCM_SENDER_ID</key>
	<string>675898728685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppProjectMiaged</string>
	<key>PROJECT_ID</key>
	<string>fir-miaged</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-miaged.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675898728685:ios:b018eb8e328b42b1c96ce4</string>
</dict>
</plist>